{% extends 'basechat.html' %}

{% block content %}

<div class="text-center h1 text-primary" id="nome_paciente" title="{{paciente.paciente_ID}}">{{title}}</div>

{% include '_nav.html' %}
<script>
    var info = {
        "tipo" : {{tipo}}, 
        "idp" : {{paciente.paciente_ID}},
        "idu" : {{usuario.id}}
    }
</script>
<table class="table" id="tabela_chat" style="margin-bottom: 100px" title="{{usuario.id}}">
    
  </table>

  <div class="entrada">
    <div class="input-group mb-3">
        <input id="entrada_de_texto" type="text" class="form-control" placeholder="Escreva sua mensagem aqui..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
      </div>
        <button id="botaop"> + Zoom</button>
        <button id="botaom"> - Zoom</button>
  </div>



  {% endblock content %}