{% extends 'base.html' %}

{% block content %}

<div class="text-center h1 text-primary">{{nome}}</div>

{% include '_nav.html' %}

<table class="table">
  <tbody>
    {% for hora in horas %}
      <tr>
        <td>{{horas[hora]['hora']}}</td>
          <td><div class="container">
            {% if horas[hora]['marcado'] %}
            <div class="row table-primary">
              {% for sala in salas %}
                <div class="col text-center border">
                  {{ sala.nome }}
                </div>
              {% endfor %}
            </div>
            <div class="row table-secondary">
              {% for sala in salas %}
                <div class="col border">
                  Psicopedagogo
                </div>
                <div class="col border">
                  Paciente
                </div>
              {% endfor %}
            </div>
            <div class="row table-success">
              {% for sala in salas %}

              <div class="col">
                {% for compromisso in horas[hora]['compromissos'] %}
                <div class="row">
                  {% if compromisso.sala.nome == sala.nome %}
                    <div class="col">
                      {{compromisso.psicopedagogo.pessoa.nome}}
                    </div>
                    <div class="col">
                      {{compromisso.paciente.pessoa.nome}}
                    </div>
                    {% else %}
                    <div class="col"></div>
                    <div class="col"></div>
                    {% endif %}
                </div>
                {% endfor %}
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            
          </div></td>
          {% if horas[hora]['agora']%}
            <td class="table-primary"><a class="btn btn-outline-primary" href="{{url_for('agendamento', ano=ano, mes=mes, dia=dia, hora=hora)}}" role="button">Marcar</a></td>
          {% else %}
            <td><a class="btn btn-outline-secondary" href="{{url_for('agendamento', ano=ano, mes=mes, dia=dia, hora=hora)}}" role="button">Marcar</a></td>
          {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}