{% extends "base.html" %}


{% block content %}

<div class="text-center h1 text-success">Página de registro</div>
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
    <div>
        {{ render_field(form.nome) }}
        {{ render_field(form.nome_consultorio) }}
        {{ render_field(form.email) }}
        {{ render_field(form.senha) }}
        {{ render_field(form.confirm) }}

    </div>
  <p><input type=submit value=Registrar>
</form>
</div>

{% endblock content %}